table {
    width: 50%;
    background: #ccc;
    margin: 10px auto;
    border-collapse: collapse;
}
th,
td {
    width:10%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
}
th {
    background: #eee;
    font-weight: normal;
}
tr {
    background: #fff;
}
tr:hover {
    background: #cc0;
}
td a {
    color: #06f;
    text-decoration: none;
}
td a:hover {
    color: #06f;
    text-decoration: underline;
}

caption {
    alignment: center;
}

div {
    text-align: center;
    border:1px solid #9bdf70;
    background:#f0fbeb;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 1%;
}
